<form asp-action="Index">
    <p>
        <lable>Hệ số A: </lable>
        <input type="text" name="heSoA">
    </p>
    <p>
        <lable>Hệ số B: </lable>
        <input type="text" name="heSoB">
    </p>
    <p>
        <input type="submit" value="Giải phương trình">
    </p>
</form>
<h3>@ViewBag.abc</h3>