<form asp-action="Create">
    <label>Ma ca nhan:</label>
    <input type="number" name="EmployeeId" value="1">
    <br>
    <label>Ho ten ca nhan:</label>
    <input type="text" number="EmployeeName" value="Nguyen Van A">
    <br>
    <input type="submit" value="Send">
</form>
<h2>@ViewBag.TT</h2>