<form asp-Action="Index">
    <p>
        <label>Nhap chuoi: </label>
        <input type="text" name="chuoi">
    </p>
    <p>
        <input type="submit" value="doi">
    </p>
</form>
<h2>Chuoi sau khi chuyen doi là: @ViewBag.message</h2>